@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap");
.adminDashboard {
  padding: 2rem 3.2rem;
  font-family: "Open Sans", sans-serif;
}
.flexTwo {
  display: flex;
  justify-content: space-between;
}
